<h1>Showing results for Game #<%= @game.id %> </h1>
<p>Player 1: <%= @game.player1 %></p>
<p>Player 2: <%= @game.player2 %></p>
<p>Player 1 Score: <%= @game.player1_score %></p>
<p>Player 2 Score: <%= @game.player1_score %></p>
<p>Winner: <%= @game.winner %></p>